@import '../../vars.css';

.cardContainer {
    background-color: var(--color-secondary-30);
    max-width: 16.5rem;
    /* max-width: 18rem; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 8px;
    gap: 1rem;
    align-items: center;
}

.icon {
    width: 2rem;
}

.title {
    color: var(--color-primary);
    font-size: 1.125rem;
}

.description {
    color: var(--color-text);
    font-size: 1rem;
}