@import '../../vars.css';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 111;
    background: #000000aa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--color-primary-gray);
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    width: 1200px;
    height: 90%;
    border-radius: 2rem;
    box-shadow: 0 0 1em #000000aa;
    overflow: auto;
    animation: fade-in 500ms forwards;
}

.closeBtnContainer {
    position: fixed;
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 30%;
    margin-right: -2.0rem;
    margin-top: -0.25rem;
    cursor: pointer;
    z-index: 100;
    border: 2px solid var(--color-accent);
    transition: background linear;
}

.closeBtnContainer:hover {
    background-color: var(--color-accent);
    color: transparent;
    
    transition: background-color .3s;
}

.closeBtnContainer:hover img {
    filter: invert(100%) sepia(5%) saturate(400%) hue-rotate(200deg) brightness(0%);
}
.closeBtn {
    position: absolute;
    width: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.presentation {
    display: flex;
    flex-direction: column;
    /* background: salmon; */
}

.imageContainer, .imageItemContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

.imageItem {
    display: flex;
    max-width: 100%;
    max-height: 700px;
}

.imageItemContainer:not(:first-child) {
    margin-top: 4rem;
}

.imgTitle {
    display: flex;
    justify-content: center;
    margin-top: .75rem;
    color: var(--color-accent);
    font-family: var(--font-quicksand);
}


.contentItem {
    display: flex;
    flex-direction: column;
    padding-inline: 8rem;
}

.titleProject {
    display: flex;
    padding-bottom: 2rem;
    font-size: 2rem;
    font-weight: 900;
    font-family: var(--font-montserrat);
    letter-spacing: 1px;
    justify-content: center;
    color: var(--color-accent);
}

.descriptionProject {
    color: var(--color-text);
    margin-top: .5rem;
    font-size: 1rem;
}

.linkProject {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    text-decoration: none;
    font-family: var(--font-quicksand);
    color: var(--color-primary);
    overflow-wrap: break-word;
}

.skills {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    min-width: fit-content;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
    margin-bottom: 3rem;
}

.skill {
    display: flex;
    flex-direction: row;
    background-color: var(--color-primary-75);
    padding-inline: .5rem;
    padding-block: .25rem;
    gap: .5rem;
    border-radius: 8px;
}

.skillImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
}

.skillName {
    font-size: 0.75rem;
    color: var(--color-text);
    letter-spacing: .5px;
    font-weight: 300;
    font-family: var(--font-quicksand);
}

@keyframes show {
    from {
        opacity: 0;
        scale: 10%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

@media screen and (max-width: 1330px) {
    .closeBtnMainContainer {
        margin-right: -35px;
    }

    .closeBtnContainer {
        scale: 0.8;
    }
}

@media screen and (max-width: 1000px) {
    .closeBtnContainer {
        scale: 0.7;
    }
    
}

@media screen and (max-width: 830px) {
    .closeBtnContainer {
        margin-right: -2.75rem;
    }

    .content {
        margin-inline: 10%;
    }

    .imageItemContainer {
        animation: none;
    }
    
    .contentItem {
        padding-inline: 0;
    }

    .closeBtnContainer {
        scale: 0.6;
    }

    .titleProject {
        font-size: 1.5rem;
    }

    .descriptionProject, .linkProject, .videoTitle {
        font-size: 0.75rem;
    }

}

@media screen and (max-width: 530px) {
    .closeBtnContainer {
        margin-right: -2.25rem;
        scale: 0.6;
    }

    .btnExpandImg {
        width: 2.5rem;
    }
}

@media screen and (max-width: 400px) {
    .closeBtnContainer {
        margin-right: -2rem;
        scale: 0.5;
    }

    .titleProject {
        font-size: 1.25rem;
    }

    .descriptionProject, .linkProject, .videoTitle {
        font-size: 0.75rem;
    }

    .imgTitle {
        font-size: 0.75rem;
    }
}