:root {
    /* Colors */
    --color-bg: #090125;
    --color-text: #fff;
    --color-primary: #5478f9;
    --color-secondary: #4F22F2;
    --color-accent: #F2985C;

    --color-primary-25: #150940;
    --color-primary-50: #1D0C59;
    --color-primary-75: #2E148C;
    --color-primary-gray: #191330;

    /* Fonts */
    --font-quicksand: 'Quicksand';
    --font-montserrat: 'Montserrat';
}